<!DOCTYPE html>
<html>
  <head>
    <title> socket.io</title>
    <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <button type="button" name="button">单击</button>
    <script type="text/javascript">

    var socket = io();

    $('button').click(function(){
      console.log('按钮被单击');

      socket.emit('index_req',{nihao:'index_req 发送成功'});

    });

    var a = 0;
    socket.on('index_res',function(data){
      a+=1;
      console.log(a);
      console.log(data);
    });

    </script>
  </body>
</html>
