<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>
  <body>
    <h2>欢迎注册</h2>
    <form class="" action="login/register" method="get">
      账号:<input type="text" name="account" value="请输入账号"> <br>
      密码:<input type="password" name="password" value="请输入密码"> <br>
      密码确认:<input type="password" name="password" value="确认密码"> <br>
      电话:<input type="text" name="tel" value=""> <br> 
      <input type="submit" name="submmit" value="提交">

  </body>
</html>
