<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p> tel:888-88888888</p>
    <p>address:XXX AVE </p>
    <p>Email: XXX@XX.com</p>
  </body>
</html>
